.site-header {
    background: #fcfcfc;
    border-bottom: 0.063em solid #f3f3f3;

    .branding-navigation {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .site-branding {
            .site-title,
            .site-description {
                margin: 0;
                padding: 0;
            }

            .site-title {
                float: left;
                font-size: 2rem;
                padding: 0.4rem;

                a {
                    text-decoration: none;
                }
            }

            .site-description {
                float: left;
                font-size: 1.125rem;
                padding: 1rem;
            }
        }
    }
}