body {
  font-family: "Merriweather", serif;
  font-family: var(--font-family-primary, "Merriweather", serif);
  margin: 0;
}

h1 {
  display: block;
  font-family: "Fira Sans", serif;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.67em 0;
}

h2 {
  display: block;
  font-family: "Fira Sans", serif;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 2rem;
  font-weight: 700;
  margin: 0.83em 0;
}

h3 {
  display: block;
  font-family: "Fira Sans", serif;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1em 0;
}

h4 {
  display: block;
  font-family: "Fira Sans", serif;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1.33em 0;
}

h5 {
  display: block;
  font-family: "Fira Sans", serif;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1.67em 0;
}

h6 {
  display: block;
  font-family: "Fira Sans", serif;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 1rem;
  font-weight: 700;
  margin: 2.33em 0;
}

.site-header {
  background: #fcfcfc;
  border-bottom: 0.063em solid #f3f3f3;
}
.site-header .branding-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.125rem;
}
.site-header .branding-navigation .site-branding .site-title,
.site-header .branding-navigation .site-branding .site-description {
  margin: 0;
  padding: 0;
}
.site-header .branding-navigation .site-branding .site-title {
  float: left;
}
.site-header .branding-navigation .site-branding .site-description {
  float: left;
  padding: 1rem;
}
.site-header .branding-navigation .primary-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.site-header .branding-navigation .primary-navigation ul li {
  display: inline-block;
  padding: 1rem;
}

.site-content {
  padding-top: 3rem;
}
.site-content .content-area {
  line-height: 1.8rem;
  margin: 0 auto;
  max-width: 45rem;
}
.site-content .content-area .post .entry-header {
  text-align: center;
}
.site-content .content-area .post .entry-header .entry-title {
  margin: 0;
  padding: 0;
}
.site-content .content-area .post .entry-content .entry-header {
  margin: 0;
  padding: 0;
  text-align: center;
}
.site-content .content-area .post .entry-content .entry-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-content .content-area .post .entry-content .entry-header ul .entry-title {
  margin: 0;
  padding: 0;
}
.site-content .content-area .post .entry-content .entry-header ul .entry-title a {
  text-decoration: none;
}